body {
	background: #f9e933;
}
header, main, footer {
	min-width: 855px;
}
header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}
header {
	background: white;
	overflow: auto;
}
header h1 {
	float: left;
	width: 570px;
}
header nav {
	float: right;
	width: 285px;
}
main {
	background: white;
	overflow: auto;
}
main .container .maintext {
	float: left;
	width: 570px;
}
main .container .mainimage {
	float: right;
	width: 285px;
}
footer .container .contact {
	float: left;
	width: 570px;
}
footer .container .sitemap {
	float: right;
	width: 285px;
}
