body {
	background: #f9e933;
	font-family: 'Inter', sans-serif;
	font-size: 100%;
}
h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
}
header, main, footer {
	min-width: 855px;
}
header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}
header {
	background: white;
	overflow: auto;
}
header h1 {
	float: left;
	width: 570px;
	font-size: 300%;
	font-style: italic;
}
header nav {
	float: right;
	width: 285px;
}

main {
	background: white;
	overflow: auto;
}
main .container h2 {
	font-size: 150%;
}
main .container h3 {
	font-size: 130%;
}
main .container .main-text {
	float: left;
	width: 570px;
}
main .container .main-image {
	float: right;
	width: 285px;
}
main .container .question {
	float: left;
	width: 570px;
	font-style: italic;
	font-size: large;
	font-weight: bold;
}
main .container .answer {
	float: left;
	width: 570px;
	font-style: normal;
	font-size: unset;
	font-weight: normal;
}

footer .container h5 {
	font-size: 120%;
}
footer .container .contact {
	float: left;
	width: 570px;
}
footer .container .sitemap {
	float: right;
	width: 285px;
}
footer .container .sitemap ul {
	columns: 2;
	list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: underline;
}
